/*
	Colorized by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}
		
	.divider
	{
		margin: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo-wrapper
	{
		height: 6em;
		min-height: 6em;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 5em 0em;
	}
	
	.homepage #banner
	{
		padding: 15em 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 6em 0em;
	}
	
	#footer header
	{
	}
	
	#footer #fbox1 header h2, 
	#footer #fbox2 header h2
	{
		font-size: 1.8em;
	}
