version: '3'
services:
  mopidy:
    image: 'detlearsom/mpd'
    command: mopidy
    volumes: 
      - '$PWD/media:/var/lib/mopidy/media:ro'
      - '$PWD/mpd_share/mopidy.conf:/home/.config/mopidy/mopidy.conf'
    ports:
      - '6600:6600'
      - '6680:6680'
      - '5555/udp'
    networks: 
      capture:
        ipv4_address: '172.16.238.40'

  mpc:
    image: 'detlearsom/mpc-cli'
    command: tail -f /dev/null
    volumes:
      - '$PWD/scripts/:/var/lib/scripts'
    networks: 
      - capture
    depends_on:
      - mopidy

  tcpdump_mpd:
    image: 'detlearsom/tcpdump'
    command: dump-190-mpd ${CAPTURETIME} ${SCENARIO} ${REPNUM}
    volumes:
      - '$PWD/data:/data'
    network_mode: "service:mopidy"
    depends_on:
      - mopidy

  tcpdump_mpc:
    image: 'detlearsom/tcpdump'
    command: dump-190-mpc ${CAPTURETIME} ${SCENARIO} ${REPNUM}
    volumes:
      - '$PWD/data:/data'
    network_mode: "service:mpc"
    depends_on:
      - mpc

networks:
  capture:
    driver: "bridge"
    ipam:
      driver: default
      config:
      - subnet: 172.16.238.0/24
        gateway: 172.16.238.1
