/*
	Elemental by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
	}
	
	header
	{
		margin-bottom: 2em;
	}
	
		header h2
		{
			line-height: 1.2em;
			font-size: 2.8em;
		}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 6em 0em 0em 0em;
	}
	
	.homepage #header
	{
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
		#logo a
		{
			margin-bottom: 1em;
			font-size: 3.4em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}
	
	.homepage #main
	{
		text-align: center;
	}

	
	#sidebar header h2
	{
		font-size: 1.6em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 6em 0em;
	}
