/*
	Royale by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	header
	{
		margin-bottom: 2em;
	}
			
		.divider
		{
			margin-top: 6em;
			padding-top: 6em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
	}


	.homepage #banner
	{
		padding: 16em 0em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}
	
	#sidebar header h2
	{
		font-size: 2em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 6em 0em;
	}
	
	#footer header
	{
		margin-bottom: 3em;
	}
