
html, body
{
	height: 100%;
}

body
{
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px;
	background: #FFB42F url(https://templated.co/items/demos/flourish2/images/img02.png) repeat-x left top;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #6F644C;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

h2
{
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	color: #860659;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #860659;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
	margin-right: 30px;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

.image-style img
{
	border-radius: 30px 0px 0px 0px;
}

hr
{
	display: none;
}

/** WRAPPER */

#wrapper
{
	position: relative;
	margin-bottom: 50px;
}

.container
{
	width: 1000px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header
{
	overflow: hidden;
}

/** LOGO */

#logo
{
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	padding-left: 30px;
	text-decoration: none;
	font-family: 'Satisfy', cursive;
	font-size: 2.20em;
	font-weight: 700;
	color: #860659;
}

/** MENU */

#menu
{
}

#menu ul
{
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	padding: 0px 0px 20px 0px;
}

#menu a
{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.50em;
	color: #FFFFFF;
}

#menu a:hover
{
	text-decoration: underline;
}

/** PAGE */

#page
{
	position: relative;
}

/** CONTENT */

#content
{
	position: absolute;
	right: 10px;
	width: 725px;
	padding: 10px 10px 40px 10px;
	background: #FFDA99;
	box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255,0.50);
	border-radius: 40px 0px 40px 0px;
}

#content h2 a
{
	display: block;
	padding: 0px 0px 20px 0px;
	text-decoration: none;
	font-size: 1.50em;
	color: #860659;
	font-weight: 400;
}

#content .subtitle
{
	padding: 0px 0px 20px 0px;
	font-size: 2.00em;
	font-weight: 400;
}

#content .post
{
	padding: 40px;
}

#box2 
{
	margin: 0px 40px;
	padding: 40px 0px;
	border-top: 1px solid #DDBE88;
}

/** SIDEBAR */

#sidebar
{
	position: absolute;
	width: 270px;
	left: 10px;
	top: 50px;
}

.box
{
	overflow: hidden;
	padding: 40px 40px;
	background: #B01E73;
	box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255,0.90);
	border-radius: 0px 40px 0px 40px;
}

/* Footer */

#footer
{
	margin: 0px 40px;
	border-top: 1px solid #DDBE88;
}

#footer p
{
	padding: 30px 0px 0px 0px;
	text-align: center;
}

#footer a
{
}

.border
{
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	clear: both;
	margin-bottom: 25px;
	padding: 30px 0px 40px 0px;
	border-top: 1px solid #DDBE88;
}

ul.style1 h3 {
	padding-bottom: 5px;
	font-size: 14px;
	color: #574E3C;
}

ul.style1 p {
	line-height: 150%;
}

ul.style1 .button-style {
	float: left;
	margin-top: 0px;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}









